@import "tailwindcss";

:root {
  --background: #050702;
  --foreground: #A2CD66;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--chewy);
  --font-mono: var(--chewy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050702;
    --foreground: #A2CD66;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Chewy, sans-serif;
  font-size: 1.4rem;
}
